<html>
    <head>
        <style>
        p{
            color:coral;
            font-size : 40px;
        }
    </style>
    </head>
    <body>
        {% include 'users/header.html' %}
        {% block head %}
        {% endblock %}
        {% if error %}
        <h1>{{ error }}</h1>
        {% endif %}
        <form method="POST" action="/users/signup1/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='SIGNUP'>
        </form>
    </body>
</html>